<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <header class="my-4 mx-1">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ourservices">ourservices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">contact</a>
            </li>
        </ul>
    </header>

    <main class="container">
        <div>
            <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">This a Test</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/ourservices" class="btn btn-primary">Go to our-services</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">This a Test</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/contact" class="btn btn-primary">Go contact</a>
      </div>
    </div>
  </div>
</div>
        </div>
    </main>
</body>

</html>